[submodule "consumer/ccemk2"]
	path = consumer/ccemk2
	url = https://github.com/JamesTheGiblet/ccemk2.git
[submodule "consumer/keystone_gate"]
	path = consumer/keystone_gate
	url = https://github.com/JamesTheGiblet/keystone_gate.git
[submodule "consumer/minecraft-main"]
	path = consumer/minecraft-main
	url = https://github.com/JamesTheGiblet/minecraft-main.git
[submodule "consumer/Replicant"]
	path = consumer/Replicant
	url = https://github.com/JamesTheGiblet/Replicant.git
